<div class="announcement-bar__content" style="text-align: {{ block.settings.text_alignment | default: 'center' }};">
  <p class="announcement-bar__text" style="margin: 0; color: white;">
    {{ block.settings.text | escape }}
  </p>
</div>
